@model TechShop.Models.Feedback
<head>
    <link rel="stylesheet" href="~/Assets/Client/fontawesome-pro-5.15.1-web/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <div class="block block__feedback">
        <div class="block__header">
            <span class="block__header__title">ĐÁNH GIÁ TỪ KHÁCH HÀNG</span>
        </div>

        <div class="testimonials">
            <div class="inner">
                <h1>Đánh giá gần đây</h1>
                <div class="border"></div>

                <div class="row">
                    <div class="col">
                        <div class="testimonial">
                            <img src="https://secure.gravatar.com/avatar/6bdf6d5f19c5bcf4dc21183f4ff446a3?s=500&d=mm&r=g" alt="">
                            <div class="name">Linh</div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                            <p>
                                Sản phẩm chất lượng tốt, giá cả hợp lý
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="https://secure.gravatar.com/avatar/6bdf6d5f19c5bcf4dc21183f4ff446a3?s=500&d=mm&r=g" alt="">
                            <div class="name">Vy</div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <p>
                                Mình mua hàng ở đây rất yên tâm, hàng chính hãng, giao hàng rất nhanh
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="testimonial">
                            <img src="https://secure.gravatar.com/avatar/6bdf6d5f19c5bcf4dc21183f4ff446a3?s=500&d=mm&r=g" alt="">
                            <div class="name">Tú Uyên</div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>

                            <p>
                                Mua hàng ở đây rất dễ dàng, đơn giản, sản phẩm an tâm chính hãng, giá cả hợp lý nhé, sẽ mua tiếp
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>