
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-not_found">
    <div class="content">
        <img src="/Assets/Client/img/404.png" />
        <h4>THÔI TOANG RỒI</h4>
        <h5>
            Nội dung bạn đang tìm có vẻ như không tồn tại, hoặc đã được chuyển đi nơi khác.
        </h5>
    </div>
</div>



