@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
    <title>Đơn Hàng Của Chưa Được Xử Lý!</title>
}
<div class="breadcrumb"><ul class="breadcrumb__list"><li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true" class="far fa-angle-right"></i></li> <li><a href="/">Trang chủ</a> <i aria-hidden="true" class="far fa-angle-right"></i></li> <li><a href="/gio-hang">Giỏ hàng</a> <i aria-hidden="true" class="far fa-angle-right"></i></li> <li><a href="/checkout">Thanh toán</a> <i aria-hidden="true" class="far fa-angle-right"></i></li> <li><a href="/hoan-thanh">Thành công</a></li></ul></div>
