<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    <div class="header">
        <div class="store-info">
            <div>Công ty cổ phần thương mại TechShop</div>
            <div>Địa chỉ : Đường Hàn Thuyên, Khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh</div>
            <div>Điện thoại: 0905764094</div>
            <div>Facebook: www.facebook.com/TechShop</div>
        </div>
    </div>
    <div class="order-container">
        <div class="title">Thông tin đơn hàng</div>
        <div class="header">
            <div class="store-info">
                <div>Khách hàng: {{CustomerName}}</div>
                <div>Địa chỉ: {{Address}}</div>
                <div>Số điện thoại: {{Phone}}</div>
                <div>Tổng thanh toán: {{Total}} </div>
            </div>
        </div>
        </br>
        <ul>
            ÁP DỤNG BẢO HÀNH:
            </br>
            <li> Miễn phí 1 đổi 1 nếu có lỗi phần cứng trong vòng 30 ngày đầu tiên mua hàng</li>
            <li>
                 Từ tháng thứ 2 trở đi "KHÔNG" áp dụng đổi trả. Áp dụng bảo hành hãng nếu sản phẩm còn thời gian bảo hành của hãng và đủ điều kiện bảo hành của hãng
            </li>
        </ul>
        <ul>
            KHÔNG ÁP DỤNG BẢO HÀNH:
            </br>
            <li> Sản phẩm hết hạn bảo hành</li>
            <li> Sản phẩm đã bị thay đổi, sửa chữa không thuộc các Trung Tâm Bảo Hành Ủy Quyền của Hãng.</li>
            <li> Sản phẩm lắp đặt, bảo trì, sử dụng không đúng theo hướng dẫn của Nhà sản xuất gây ra hư hỏng.</li>
            <li> Sản phẩm trong tình trạng bị khóa tài khoản cá nhân như: Tài khoản khóa máy/màn hình, khóa tài khoản trực tuyến Gmail, iCloud...</li>
            <li> Khách hàng sử dụng phần mềm, ứng dụng không chính Hãng, không bản quyền</li>
            <li> Màn hình có bốn (04) điểm chết trở xuống.</li>
        </ul>
    </div>

</body>
</html>
